/* Elif Nur Karagöz */
body {
    background-image: url(todoapp.gif);
    background-size: 1000px;
    color: white;
}

a {
    color: rgb(56, 7, 7);

}

a:hover {
    color: forestgreen;
}

#header {
    font-size: 40px;
    text-align: center;
    color: rgb(68, 2, 46);
    font-weight: 900;
}

.card-header {
    background-color: rgb(51, 15, 36);

}

.card-body {
    background-color: #ffeeba;
}