/* Deniz Kartal */
/* Css yardımı:Elif Nur Karagöz */
body {
    background-color: #bbe7f1;
}

#canvas {
    margin-top: 125px;
    margin-left: 250px;
    background-color: #30c0df;
    border: 2px solid rgb(89, 182, 211);
    display: block;
    padding: auto;

}

h1 {
    text-align: center;
    color: rgb(19, 5, 46);
}